menu "flatpack2ctl Configuration"

    config TWAI_TX_GPIO_NUM
        int "CAN tranceiver TX GPIO number"
        default 27
        help
            This option selects the GPIO pin used for CAN transmit. Default to GPIO_NUM_27

    config TWAI_RX_GPIO_NUM
        int "CAN tranceiver RX GPIO number"
        default 26
        help
            This option selects the GPIO pin used for CAN receive. Default to GPIO_NUM_26

    config TWAI_SLOPE_GPIO_NUM
        int "CAN tranceiver slope control GPIO number"
        default 23
        help
            This option selects the GPIO pin used for CAN slope control.
            Can improve stability in CAN transmission. Default to GPIO_NUM_23

    config STATUS_LED_GPIO_NUM
        int "Status LED GPIO number"
        default 4
        help
            This option selects the GPIO pin used for the status LED control. Default to GPIO_NUM_4

    config RELAY_GPIO_NUM
        int "Relay GPIO number"
        default 18
        help
            This option selects the GPIO pin used for the relay control. For pin configured as GPIO_MODE_OUTPUT
            gpio_get_level always return 0 so get it state direct from GPIO_OUT0_REG
            #define RELAY_GPIO_GET_LEVEL_DIRECT ((GPIO_REG_READ(GPIO_OUT0_REG) >> (RELAY_GPIO)) & 0x1)
            Default to GPIO_NUM_18. If you want use GPIO > 31 do modify RELAY_GPIO_GET_LEVEL_DIRECT macro

    config POWERMETER_UART_RX_GPIO_NUM
        int "Power meter HLW8032 RX GPIO number"
        default 21
        help
            This option selects the GPIO pin used for receive power meter UART data from HLW8032. Default to GPIO_NUM_21

    config POWERMETER_UART_TX_GPIO_NUM
        int "Power meter HLW8032 TX GPIO number"
        default 22
        help
            This option selects the GPIO pin used for transmit UART data. Transmission not used but pin should be defined.
            Default to GPIO_NUM_22

endmenu
